<div class="content">
  <div class="title-page" *nzModalTitle="">
    <span>
      {{
        isCreate
          ? "model.typeOfFilm.create"
          : isUpdate
          ? "model.typeOfFilm.update"
          : "model.typeOfFilm.view"
      }}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-6 mb-2">
          <label>{{'model.typeOfFilm.code' | translate}} <span class="text-danger">*</span></label>
          <input
            formControlName="code"
            nz-input
            [maxLength]="LENGTH_VALIDATOR.CODE_MAX_LENGTH.MAX"
            placeholder="{{'model.typeOfFilm.code' | translate}}"
          />
        </div>
        <div class="col-6 mb-2">
          <label>{{'model.typeOfFilm.name' | translate}} <span class="text-danger">*</span></label>
          <input
            formControlName="name"
            nz-input
            [maxLength]="LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX"
            placeholder="{{'model.typeOfFilm.name' | translate}}"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-2">
          <label>{{'common.description' | translate}}</label>
          <textarea
            rows="4"
            placeholder="{{'common.description' | translate}}"
            formControlName="description"
            nz-input
          ></textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-12 text-center" *nzModalFooter>
      <ng-container *ngIf="isDetail">
        <button nz-button nzType="default" (click)="onCancel()">
          {{'common.button.cancel' | translate}}
        </button>
        <button
          nz-button
          nzType="primary"
          class="mr-2"
          *hasRoles="RULE.FILM_TYPE_UPDATE"
          (click)="nextToUpdate()"
        >
        {{'common.button.edit' | translate}}
        </button>
      </ng-container>
      <ng-container *ngIf="!isDetail">
        <button nz-button nzType="default" class="mr-2" (click)="onCancel()">
          {{'common.button.cancel' | translate}}
        </button>
        <button
          nz-button
          nzType="primary"
          class="mr-2"
          (click)="onSubmit()"
          *hasRoles="[RULE.FILM_TYPE_UPDATE, RULE.FILM_TYPE_CREATE]"
          [disabled]="form.invalid"
        >
        {{'common.button.save' | translate}}
        </button>
      </ng-container>
    </div>
  </div>
</div>
