<div class="content" [formGroup]="form">
  <div class="row">
    <div class="col-4" style="margin-top:40px ;">
        <app-upload-avatar
        [disable]="isDetail"
        [action]="imageUrl ? imageUrl : 'assets/images/icon/film.jpeg'"
        [acceptTypeFiles]="['image']"
        className="image"
        nzTooltipPlacement="top"
        (emitter)="getFiles($event)"
        nz-tooltip
      >
      </app-upload-avatar>
    </div>
    <div class="col-8">
        <div class="row">
              <div class="col-9">
                <div class="d-flex flex-wrap">
                  <div class="col-12 mt-3">
                    <label
                      >{{'model.drink.code' | translate}}
                      <span class="text-danger">*</span></label
                    >
                    <input
                      nz-input
                      [maxLength]="100"
                      placeholder="{{'model.drink.code' | translate}}"
                      formControlName="code"
                    />

                  </div>
                  <div class="col-12 mt-3">
                    <label
                      >{{'model.drink.name' | translate}}
                      <span class="text-danger">*</span></label
                    >
                    <input
                      nz-input
                      [maxLength]="100"
                      placeholder="{{'model.drink.name' | translate}}"
                      formControlName="name"
                    />

                  </div>
                  <div class="col-12 mt-3">
                    <label
                      >{{'model.drink.price' | translate}}
                      <span class="text-danger">*</span></label
                    >
                    <input
                      nz-input
                      [maxLength]="100"
                      placeholder="{{'model.drink.price' | translate}}"
                      formControlName="price"
                    />

                  </div>
                  <div class="col-12 mt-3">
                    <label for="">{{'common.description' | translate}}</label>
                    <textarea rows="4" nz-input formControlName="description"></textarea>
                  </div>
                </div>
              </div>
        </div>
    </div>
  </div>
</div>
