<div class="content">
    <ng-container>
        <div class="row mt-3"  [formGroup]="searchForm">
            <div class="col-3">
              <nz-input-group [nzSuffix]="suffixIconSearch">
                <input
                  type="text"
                  nz-input
                  placeholder="{{'common.search' | translate}}"
                  formControlName="keyword"
                  (keyup.enter)="search()"
                />
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <span nz-icon nzType="search"></span>
              </ng-template>
            </div>
            <div class="col-9 d-flex justify-content-end">
                <button nz-button nzType="primary" (click)="create()">{{'common.button.create' | translate}}</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <nz-table
                #table
                [nzData]="[{}, {}]"
                [nzTableLayout]="'fixed'"
                >
                <thead>
                    <tr>
                        <th nzAlign="center" nzWidth="80px">{{'common.index' | translate}}</th>
                        <th nzAlign="center" nzWidth="150px" [nzSortFn]="true"> {{'model.user.employeeCode' | translate}} </th>
                        <th nzAlign="center" [nzSortFn]="true">{{'model.user.fullName' | translate}}</th>
                        <th nzAlign="center">{{'model.user.title' | translate}}</th>
                        <th nzAlign="center">{{'model.user.gender' | translate}}</th>
                        <th nzAlign="center">{{'common.status' | translate}}</th>
                        <th nzAlign="center">{{'common.action' | translate}</th>
                    </tr>
                </thead>

                <tbody>
                    <ng-container  *ngFor="let item of userList">
                        <tr>
                            <td class="thead-border-top-left" nzAlign="center">
                                1
                            </td>
                            <td nzAlign="center">{{item.employeeCode}}</td>
                            <td nzAlign="left">{{item.fullName}}</td>
                            <td nzAlign="left">{{item.title}}</td>
                            <td nzAlign="center">{{item.gender}}</td>
                            <td nzAlign="center"><nz-switch [ngModel]="item?.status == 'ACTIVE'" (click)="toggleActive(item)"></nz-switch></td>
                            <td nzAlign="center">
                              <app-button-action
                                [action]="'view'"
                                className="first"
                                nzTooltipTitle="{{'common.button.view' | translate}}"
                                nzTooltipPlacement="top"
                                nz-tooltip
                                (click)="view(item.id)"
                              >
                                </app-button-action
                              >
                              <app-button-action
                                [action]="'edit'"
                                className="center"
                                nzTooltipTitle="{{'common.button.update' | translate}}"
                                nzTooltipPlacement="top"
                                nz-tooltip
                              >
                                </app-button-action
                              >
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
            <app-pagination
            [pageIndex]="searchRequest.pageIndex"
            [pageSize]="searchRequest.pageSize"
            [total]="total"
            (onChange)="onQuerySearch($event)"
          ></app-pagination>
            </div>
        </div>
    </ng-container>

</div>
