<nz-steps [nzCurrent]="current">
    <nz-step nzTitle="Finished">
     
    </nz-step>
    <nz-step nzTitle="In Progress"></nz-step>
    <nz-step nzTitle="Waiting"></nz-step>
  </nz-steps>

  <div class="steps-content" style=" background-image: url('../../../../assets/2.jpg');">   
    <div class="container-fluid" >
    <div class="row">
        <div class="col-2" style="display:block; margin: 0 auto;">
            <div style="display: block; margin-top: 150px;" >
                <div class="d-flex align-items-center">
                    <div class="normal-seat-div available"></div>
                    <div style="margin-left: 5px;">Ghế thường</div>
                </div>
            </div>
            <div style="display: block;" >
                <div class="d-flex align-items-center">
                    <div class="vip-seat-div available"></div>
                    <div style="margin-left: 5px;">Ghế Vip</div>
                </div>
            </div>
            <div style="display: block;" >
                <div class="d-flex align-items-center">
                    <div class="sweet-seat-div available"></div>
                    <div style="margin-left: 5px;">Ghế đôi</div>
                </div>
            </div>
            <br>
            <br>
            <div style="display: block;" >
                <div class="d-flex align-items-center">
                    <div class="normal-seat-div available"></div>
                    <div style="margin-left: 5px;">Còn trống</div>
                </div>
            </div>
            <div style="display: block;" >
                <div class="d-flex align-items-center">
                    <div class="normal-seat-div holded"></div>
                    <div style="margin-left: 5px;">Đang được chọn</div>
                </div>
            </div>
            <div style="display: block;" >
                <div class="d-flex align-items-center">
                    <div class="normal-seat-div your-select"></div>
                    <div style="margin-left: 5px;">Bạn chọn</div>
                </div>
            </div>
            <div style="display: block;" >
                <div class="d-flex align-items-center">
                    <div class="normal-seat-div solded"></div>
                    <div style="margin-left: 5px;">Đã bán</div>
                </div>
            </div>

            <div class="mt-5">
                <button style="margin-right: 5px;" nz-button nzType="primary" nzDanger>Huỷ</button>
                <button style="margin-right: 5px;" nz-button nzType="default">Về trước</button>
                <button nz-button nzType="primary">Đặt vé</button>
            </div>
        </div>
        <div class="col-10">
       
            <div class="container d-flex justify-content-center">
                <div class="appbackground">
                </div>
                <div class="zoom">
                  <div class="display"></div>
                  <div class="row-chair left-way right-way">
                    <ng-container
                      *ngFor="let item of seats; let i = index"
                    >
                      <button
                        [class.seat]="item.type=='normal'"
                        [class.vip-seat]="item.type=='vip'"
                        [class.sweet-seat]="item.type=='sweet'"
                        [class.available]="item.status=='AVAILABLE'"
                        [class.solded]="item.status=='SOLDED'"
                        [class.your_select]="item.status=='YOUR_SELECT'"
                        [class.holded]="item.status=='HOLDED'"
                        (click)="change(item)"
                      >A1</button>
                    </ng-container>
                  </div>
                  <div class="row-chair left-way right-way">
                    <ng-container
                      *ngFor="let item of seats; let i = index"
                    >
                      <button
                        [class.seat]="item.type=='normal'"
                        [class.vip-seat]="item.type=='vip'"
                        [class.sweet-seat]="item.type=='sweet'"
                        [class.available]="item.status=='AVAILABLE'"
                        [class.solded]="item.status=='SOLDED'"
                        [class.your-select]="item.status=='YOUR_SELECT'"
                        [class.holded]="item.status=='HOLDED'"
                        (click)="change(item)"
                      >A1</button>
                    </ng-container>
                  </div>
                  <div class="row-chair left-way right-way">
                    <ng-container
                      *ngFor="let item of seats; let i = index"
                    >
                      <button
                        [class.seat]="item.type=='normal'"
                        [class.vip-seat]="item.type=='vip'"
                        [class.sweet-seat]="item.type=='sweet'"
                        [class.available]="item.status=='AVAILABLE'"
                        [class.solded]="item.status=='SOLDED'"
                        [class.your-select]="item.status=='YOUR_SELECT'"
                        [class.holded]="item.status=='HOLDED'"
                        (click)="change(item)"
                      >A1</button>
                    </ng-container>
                  </div>
                  <div class="row-chair left-way right-way">
                    <ng-container
                      *ngFor="let item of seats; let i = index"
                    >
                      <button
                        [class.seat]="item.type=='normal'"
                        [class.vip-seat]="item.type=='vip'"
                        [class.sweet-seat]="item.type=='sweet'"
                        [class.available]="item.status=='AVAILABLE'"
                        [class.solded]="item.status=='SOLDED'"
                        [class.your-select]="item.status=='YOUR_SELECT'"
                        [class.holded]="item.status=='HOLDED'"
                        (click)="change(item)"
                      >A1</button>
                    </ng-container>
                  </div>
                  <div class="row-chair left-way right-way">
                    <ng-container
                      *ngFor="let item of seats; let i = index"
                    >
                      <button
                        [class.seat]="item.type=='normal'"
                        [class.vip-seat]="item.type=='vip'"
                        [class.sweet-seat]="item.type=='sweet'"
                        [class.available]="item.status=='AVAILABLE'"
                        [class.solded]="item.status=='SOLDED'"
                        [class.your-select]="item.status=='YOUR_SELECT'"
                        [class.holded]="item.status=='HOLDED'"
                        (click)="change(item)"
                      >A1</button>
                    </ng-container>
                  </div>
                  <div class="row-chair left-way right-way">
                    <ng-container
                      *ngFor="let item of seats; let i = index"
                    >
                      <button
                        [class.seat]="item.type=='normal'"
                        [class.vip-seat]="item.type=='vip'"
                        [class.sweet-seat]="item.type=='sweet'"
                        [class.available]="item.status=='AVAILABLE'"
                        [class.solded]="item.status=='SOLDED'"
                        [class.your-select]="item.status=='YOUR_SELECT'"
                        [class.holded]="item.status=='HOLDED'"
                        (click)="change(item)"
                      >A1</button>
                    </ng-container>
                  </div>
                  <div class="row-chair left-way right-way">
                    <ng-container
                      *ngFor="let item of seats; let i = index"
                    >
                      <button
                        [class.seat]="item.type=='normal'"
                        [class.vip-seat]="item.type=='vip'"
                        [class.sweet-seat]="item.type=='sweet'"
                        [class.available]="item.status=='AVAILABLE'"
                        [class.solded]="item.status=='SOLDED'"
                        [class.your-select]="item.status=='YOUR_SELECT'"
                        [class.holded]="item.status=='HOLDED'"
                        (click)="change(item)"
                      >A1</button>
                    </ng-container>
                  </div>
                  <div class="row-chair left-way right-way">
                    <ng-container
                      *ngFor="let item of seats; let i = index"
                    >
                      <button
                        [class.seat]="item.type=='normal'"
                        [class.vip-seat]="item.type=='vip'"
                        [class.sweet-seat]="item.type=='sweet'"
                        [class.available]="item.status=='AVAILABLE'"
                        [class.solded]="item.status=='SOLDED'"
                        [class.your-select]="item.status=='YOUR_SELECT'"
                        [class.holded]="item.status=='HOLDED'"
                        (click)="change(item)"
                      >A1</button>
                    </ng-container>
                  </div>
                  <div class="row-chair left-way right-way">
                    <ng-container
                      *ngFor="let item of seats; let i = index"
                    >
                      <button
                        [class.seat]="item.type=='normal'"
                        [class.vip-seat]="item.type=='vip'"
                        [class.sweet-seat]="item.type=='sweet'"
                        [class.available]="item.status=='AVAILABLE'"
                        [class.solded]="item.status=='SOLDED'"
                        [class.your-select]="item.status=='YOUR_SELECT'"
                        [class.holded]="item.status=='HOLDED'"
                        (click)="change(item)"
                      >A1</button>
                    </ng-container>
                  </div>
                  <div class="row-chair left-way right-way">
                    <ng-container
                      *ngFor="let item of seats; let i = index"
                    >
                      <button
                        [class.seat]="item.type=='normal'"
                        [class.vip-seat]="item.type=='vip'"
                        [class.sweet-seat]="item.type=='sweet'"
                        [class.available]="item.status=='AVAILABLE'"
                        [class.solded]="item.status=='SOLDED'"
                        [class.your-select]="item.status=='YOUR_SELECT'"
                        [class.holded]="item.status=='HOLDED'"
                        (click)="change(item)"
                      >A1</button>
                    </ng-container>
                  </div>
                  <div class="row-chair left-way right-way">
                    <ng-container
                      *ngFor="let item of seats; let i = index"
                    >
                      <button
                        [class.seat]="item.type=='normal'"
                        [class.vip-seat]="item.type=='vip'"
                        [class.sweet-seat]="item.type=='sweet'"
                        [class.available]="item.status=='AVAILABLE'"
                        [class.solded]="item.status=='SOLDED'"
                        [class.your-select]="item.status=='YOUR_SELECT'"
                        [class.holded]="item.status=='HOLDED'"
                        (click)="change(item)"
                      >A1</button>
                    </ng-container>
                  </div>
                  <div class="row-chair left-way right-way">
                    <ng-container
                      *ngFor="let item of seats; let i = index"
                    >
                      <button
                        [class.seat]="item.type=='normal'"
                        [class.vip-seat]="item.type=='vip'"
                        [class.sweet-seat]="item.type=='sweet'"
                        [class.available]="item.status=='AVAILABLE'"
                        [class.solded]="item.status=='SOLDED'"
                        [class.your-select]="item.status=='YOUR_SELECT'"
                        [class.holded]="item.status=='HOLDED'"
                        (click)="change(item)"
                      >A1</button>
                    </ng-container>
                  </div>

                  <!-- <div class="btn-room">
                    <button nz-button nzType="primary">Primary Button</button>
                    <button class="btn-detail" nz-button nzType="primary">Huỷ</button>
                      <button class="btn-detail">Mua vé</button>
                  </div> -->
                </div>
              </div>
        </div>
    </div>
</div></div>
  <div class="steps-action">
    <button nz-button nzType="default" (click)="pre()" nzDanger>
        <span>Hủy</span>
      </button>
    <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
      <span>Trở lại</span>
    </button>
    <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
      <span>Tiếp theo</span>
    </button>
    <button nz-button nzType="primary" (click)="done()" *ngIf="current === 2">
      <span>Thanh toán</span>
    </button>
  </div>