<div class="content">
  <div class="title-page" *nzModalTitle="">
      <span>
          ({{isCreate ? 'model.location.create' : isUpdate ? 'model.location.update' : 'model.location.view' }}) | translate
      </span>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <form [formGroup]="form">
          <div class="row">
              <div class="col-6 mb-2">
                  <label>{{'common.location.code' | translate}}<span class="text-danger">*</span></label>
                  <input
                      formControlName="code"
                      nz-input
                      [maxLength]="LENGTH_VALIDATOR.CODE_MAX_LENGTH.MAX"
                      placeholder="{{'common.location.code' | translate}}"
                  >
              </div>
              <div class="col-6 mb-2">
                  <label>{{'common.location.name' | translate}} <span class="text-danger">*</span></label>
                  <input
                      formControlName="name"
                      nz-input
                      [maxLength]="LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX"
                      placeholder="{{'common.location.name' | translate}}"
                  >
              </div>
          </div>
          <div class="row">
              <div class="col-12 mb-2">
                  <label>{{'common.location.address' | translate}}</label>
                  <textarea
                      rows="4"
                      placeholder="{{'common.location.address' | translate}}"
                      formControlName="address"
                      nz-input
                  ></textarea>
              </div>
          </div>
      </form>
  </div>

  <div class="row">
      <div class="col-12 text-center" *nzModalFooter>
          <ng-container *ngIf="isDetail">
              <button nz-button nzType="default" (click)="onCancel()">
                {{'common.button.cancel' | translate}}
              </button>
              <button nz-button nzType="primary" class="mr-2" (click)="nextToUpdate()">
                {{'common.button.edit' | translate}}
              </button>
          </ng-container>
          <ng-container *ngIf="!isDetail">
              <button nz-button nzType="default" class="mr-2" (click)="onCancel()">
                {{'common.button.cancel' | translate}}
              </button>
              <button nz-button nzType="primary" class="mr-2" (click)="onSubmit()" [disabled]="form.invalid">
                {{'common.button.save' | translate}}
              </button>
          </ng-container>
      </div>
  </div>
</div>
