<div class="content">
  <div class="title-page" *nzModalTitle>
    <span>Đổi mật khẩu</span>
  </div>
  <div class="row">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-12 mb-2">
          <label>Mật khẩu <span class="text-danger">*</span></label>
          <nz-input-group >
            <input formControlName="password" nz-input  class=""
              [type]="'password'"
              placeholder="Mật khẩu" />
          </nz-input-group>
          <ng-container *ngIf="form.get('password')?.touched || form.get('password')?.dirty">
            <span class="text-danger" *ngIf="form.get('password')?.hasError('required')">
              <small>Mật khẩu không được để trống</small>
            </span>
            <span class="text-danger" *ngIf="form.get('password')?.hasError('pattern')">
              <small>Mật khẩu phải có ít nhấu 6 ký tự</small>
            </span>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-2">
          <label>Nhập lại mật khẩu <span class="text-danger">*</span></label>
          <nz-input-group >
            <input formControlName="repeatPassword" nz-input
              class="" [type]=" 'password'"
              placeholder="Nhập lại mật khẩu" />
          </nz-input-group>
          <ng-container *ngIf="form.get('repeatPassword')?.touched || form.get('repeatPassword')?.dirty">
            <span class="text-danger" *ngIf="form.get('repeatPassword')?.hasError('required')">
              <small>Xác nhận mật khẩu khống được để trống</small>
            </span>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-12 text-center" *nzModalFooter>
      <button nz-button nzType="default" (click)="onCancel()">
        Hủy
      </button>
      <button nz-button nzType="primary" [disabled]="!form.valid" (click)="onSubmit()">
        Lưu
      </button>
    </div>
  </div>
</div>
