<div class="content">
    <ng-container>
        <div class="row mt-3">
            <div class="col-3">
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input placeholder="input search text" />
                  </nz-input-group>
                  <ng-template #suffixIconSearch>
                    <span nz-icon nzType="search"></span>
                  </ng-template>
            </div>
            <div class="col-9 d-flex justify-content-end">
                <button nz-button nzType="primary">Add</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <nz-table
                #table
                [nzData]="typeOfFilmList"
                [nzTableLayout]="'fixed'"
                >
                <thead>
                    <tr>
                        <th nzAlign="center" nzWidth="80px">STT</th>
                        <th nzAlign="center" nzWidth="150px" [nzSortFn]="true">Mã thể loại</th>
                        <th nzAlign="center" [nzSortFn]="true">Tên thể loại</th>
                        <th nzAlign="center" [nzSortFn]="true">Mô tả</th>
                        <th nzAlign="center">Trạng thái</th>
                        <th nzAlign="center">Hành động</th>
                    </tr>
                </thead>
           
                <tbody>
                    <ng-container  *ngFor="let item of typeOfFilmList; index as i">
                        <tr>
                            <td class="thead-border-top-left" nzAlign="center">
                                {{i}}
                            </td>
                            <td nzAlign="center">{{item.code}}</td>
                            <td nzAlign="center">{{item.name}}</td>
                            <td nzAlign="center">{{item.description}}</td>
                            <td nzAlign="center">{{item.status}}</td>
                            <td nzAlign="center">Hành động</td>
    
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
            </div>
        </div>
    </ng-container>
    
</div>