<div class="content">
  <div class="title-page" *nzModalTitle="">
      <span>
          {{isCreate ? 'Tạo mới nhà sản xuất' : isUpdate ? 'Cập nhật nhà sản xuất' : 'Chi tiết nhà sản xuất' }}
      </span>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <form [formGroup]="form">
          <div class="row">
              <div class="col-6 mb-2">
                  <label>{{'common.producer.code' | translate}} <span class="text-danger">*</span></label>
                  <input
                      formControlName="code"
                      nz-input
                      [maxLength]="LENGTH_VALIDATOR.CODE_MAX_LENGTH.MAX"
                      placeholder="{{'common.producer.code' | translate}}"
                  >
              </div>
              <div class="col-6 mb-2">
                  <label>T{{'common.producer.name' | translate}} <span class="text-danger">*</span></label>
                  <input
                      formControlName="name"
                      nz-input
                      [maxLength]="LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX"
                      placeholder="{{'common.producer.name' | translate}}"
                  >
              </div>
          </div>
          <div class="row">
            <div class="col-6 mb-2">
                <label>{{'common.producer.representative' | translate}}</label>
                <input
                    formControlName="representative"
                    nz-input
                    [maxLength]="LENGTH_VALIDATOR.CODE_MAX_LENGTH.MAX"
                    placeholder="{{'common.producer.representative' | translate}}"
                >
            </div>
            <div class="col-6 mb-2">
                <label>{{'common.producer.nationally' | translate}}</label>
                <input
                    formControlName="nationally"
                    nz-input
                    [maxLength]="LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX"
                    placeholder="{{'common.producer.nationally' | translate}}"
                >
            </div>
        </div>
        <div class="row">
          <nz-textarea-count [nzMaxCharacterCount]="1000" >
            <textarea rows="6" formControlName="description" nz-input></textarea>
          </nz-textarea-count>
        </div>
      </form>
  </div>
  <div class="row">
      <div class="col-12 text-center" *nzModalFooter>
          <ng-container *ngIf="isDetail">
              <button nz-button nzType="default" (click)="onCancel()">
                {{'common.button.cancel' | translate}}
              </button>
              <button nz-button nzType="primary" class="mr-2" (click)="nextToUpdate()">
                {{'common.button.edit' | translate}}
              </button>
          </ng-container>
          <ng-container *ngIf="!isDetail">
              <button nz-button nzType="default" class="mr-2" (click)="onCancel()">
                {{'common.button.cancel' | translate}}
              </button>
              <button nz-button nzType="primary" class="mr-2" (click)="onSubmit()" [disabled]="form.invalid">
                {{'common.button.saves' | translate}}
              </button>
          </ng-container>
      </div>
  </div>
</div>
