<div class="content">
    <ng-container>
        <div class="row mt-3">
            <div class="col-9">
                <div class="row">
                    <div class="col-3">
                        <nz-input-group [nzSuffix]="suffixIconSearch">
                            <input type="text" nz-input placeholder="input search text" [nzSize]="'small'"/>
                          </nz-input-group>
                          <ng-template #suffixIconSearch>
                            <span nz-icon nzType="search"></span>
                          </ng-template>
                    </div>
                    <div class="col-9">
                        <div class="row d-flex">
                            <div class="col-3">
                                <nz-select
                                [nzMaxTagCount]="1"
                                [nzMaxTagPlaceholder]="tagPlaceHolder"
                                nzMode="multiple"
                                nzPlaceHolder="Thể loại"
                                style="width: 100%; "
                                [nzShowArrow]="true"
                              >
                                <nz-option *ngFor="let item of listOfOption" [nzLabel]="item" [nzValue]="item"></nz-option>
                              </nz-select>
                              <ng-template #tagPlaceHolder let-selectedList>+1</ng-template>
                            </div>
                            <div class="col-3">
                                <nz-select
                                [nzMaxTagCount]="1"
                                [nzMaxTagPlaceholder]="tagPlaceHolder"
                                nzMode="multiple"
                                nzPlaceHolder="Nhà sản xuất"
                                style="width: 100%; "
                              >
                                <nz-option *ngFor="let item of listOfOption" [nzLabel]="item" [nzValue]="item"></nz-option>
                              </nz-select>
                              <ng-template #tagPlaceHolder let-selectedList>+1</ng-template>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <div class="clearfix">
                    <nz-upload
                      nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                      nzListType="picture"
                    >
                      <button nz-button>
                        <span nz-icon nzType="upload"></span>
                        Upload
                      </button>
                    </nz-upload>
                  </div>
                <button nz-button nzType="primary">Add</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <nz-table
                #table
                [nzData]="[{}, {}]"
                [nzTableLayout]="'fixed'"
                >
                <thead>
                    <tr>
                        <th nzAlign="center" nzWidth="80px">STT</th>
                        <th nzAlign="center" nzWidth="150px" [nzSortFn]="true">Mã phim</th>
                        <th nzAlign="center" [nzSortFn]="true">Tên phim</th>
                        <th nzAlign="center">Nhà sản xuất</th>
                        <th nzAlign="center">Ngày công chiếu</th>
                        <th nzAlign="center">Thời lượng</th>
                        <th nzAlign="center">Thể loại phim</th>
                        <th nzAlign="center">Trạng thái</th>
                        <th nzAlign="center">Hành động</th>
                    </tr>
                </thead>

                <tbody>
                    <ng-container  *ngFor="let item of [{}, {}]">
                        <tr>
                            <td class="thead-border-top-left" nzAlign="center">
                                1
                            </td>
                            <td nzAlign="center">AAAA</td>
                            <td nzAlign="left">Phim hay</td>
                            <td nzAlign="left">Nhà sản xuất</td>
                            <td nzAlign="center">Ngày công chiếu</td>
                            <td nzAlign="center">Thời lượng</td>
                            <td nzAlign="center">Thể loại phim</td>
                            <td nzAlign="center">Trạng thái</td>
                            <td nzAlign="center">
                              <app-button-action
                              [action]="'view'"
                              className="first"
                              nzTooltipTitle="Chi tiết"
                              nzTooltipPlacement="top"
                              nz-tooltip
                              >
                              </app-button-action>

                              <app-button-action
                              [action]="'edit'"
                              className="last"
                              nzTooltipTitle="Cập nhật"
                              nzTooltipPlacement="top"
                              nz-tooltip
                              >
                              </app-button-action>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
            </div>
        </div>
    </ng-container>

</div>
