
.calendar-days {
    width: 60px;
    height: 60px;
    background: #669999;
    border: 3px solid #c2c2c2;
    cursor: pointer;
}

.calendar-days:hover{
    background: peru;
}

.selected {
    background: peru;
    opacity: 0.6;
}

.today {
    color: red;
}

.reserved {
    color: blueviolet;
}