.appBackground {
    position: relative;
    background-image: url("../../../../assets/1.jpg");
    background-repeat:no-repeat;
    background-size:100% 100vh;
}
.zoom {
    // overflow: scroll;
    width: min-content;
    // transform: scale(1.6);
}

.zoom .display {
    height: 200px;
}

.zoom .row-chair{
    display: block;
    transform: scale(1.2);
}

.zoom .left-way{
    margin-left: 50px;
}

.zoom .left-way{
    margin-right: 50px;
}

.zoom .seat {
    width: 40px;
    height: 30px;
    display: inline-block;
    margin: 5px 0px ;
    border-radius: 50%;
}

.zoom .vip-seat {
    width: 40px;
    height: 30px;
    display: inline-block;
    margin: 5px 0px ;
    border-radius: 50% 50% 10% 10%;

}


.zoom .sweet-seat{
    width: 70px;
    height: 30px;
    display: inline-block;
    margin: 5px 0px ;
    border-radius: 50% 50% 10% 10%;
}

.zoom .row-chair{
    width: fit-content;
    display: inline-flex;
}

 .available{
    background-color: #D3D3D3;
}

.holded{
    background-color: #00FF00;
}

.your-select{
    background-color: #32CD32;
}

 .solded{
    background-color: #FF0000;
}

button {
    cursor: pointer;
}

.btn-room {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-room .btn-detail{
    margin-left: 50px;
}

.booking-btn{
    position: absolute;
    bottom: 10%;
    left: 40%;
}

.normal-seat-div {
    width: 40px;
    height: 30px;
    display: inline-block;
    margin: 5px 0px ;
    border-radius: 50%;
}

.vip-seat-div {
    width: 40px;
    height: 30px;
    display: inline-block;
    margin: 5px 0px ;
    border-radius: 50% 50% 10% 10%;

}
.sweet-seat-div{
    width: 60px;
    height: 30px;
    display: inline-block;
    margin: 5px 0px ;
    border-radius: 50% 50% 10% 10%;
}

.drink {
    border: 1px solid;
    border-radius: 20px;
}

.drink img{
    width: 100%;
    height: 120px;
    z-index: -1;
}

.drink .title{
    font-size: large;
    font-weight: bolder;

}
.drink .number{
    cursor: pointer;
}