<div class="content">
    <app-table-title [title]="'model.showtime.list'"></app-table-title>
    <ng-container>
      <div class="row mt-3" [formGroup]="searchForm">
        <div class="col-3">
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input
              type="text"
              nz-input
              placeholder="{{'common.search' | translate}}"
              formControlName="keyword"
              (keyup.enter)="search()"
            />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon nzType="search"></span>
          </ng-template>
        </div>
        <div class="col-9 d-flex justify-content-end">
          <app-upload-simple
          [acceptTypeFiles]="['excel']"
          nzTooltipPlacement="top"
          nz-tooltip
          (emitter)="getFiles($event)"
          ></app-upload-simple>

          <button nz-button nzType="primary" type="file" (click)="downloadTemplate()">{{'model.showtime.downloadTemplate'}}</button>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <nz-table #table [nzData]="showtimeList" [nzTableLayout]="'auto'">
            <thead>
              <tr>
                <th nzAlign="center" nzWidth="80px">{{'common.index' | translate}}</th>
                <th nzAlign="center" nzWidth="150px" [nzSortFn]="true">
                  {{'model.showtime.film'}}
                </th>
                <th nzAlign="center" [nzSortFn]="true">{{'model.showtime.room'| translate}}</th>
                <th nzAlign="center" [nzSortFn]="true">{{'model.showtime.location'| translate}}</th>
                <th nzAlign="center">{{'model.showtime.movieDate'| translate}}</th>
                <th nzAlign="center">{{'model.showtime.showtime'| translate}}</th>
                <th nzAlign="center">{{'common.status' | translate}}</th>
                <th nzAlign="center">{{'common.action' | translate}}</th>
              </tr>
            </thead>

            <tbody>
              <ng-container *ngFor="let item of showtimeList; index as i">
                <tr>
                  <td class="thead-border-top-left" nzAlign="center">
                    {{getIndex(i)}}
                  </td>
                  <td nzAlign="center">{{ item.film.name }}</td>
                  <td nzAlign="center">{{ item.room.name }}</td>
                  <td nzAlign="center">{{ item?.location?.name }}</td>
                  <td nzAlign="center">{{ item.premiereDate }}</td>
                  <td nzAlign="center">{{item.startAt}}</td>
                  <td nzAlign="center">{{item.status}}</td>
                  <td nzAlign="center">
                    <app-button-action
                      [action]="'send'"
                      className="first"
                      nzTooltipTitle="{{'common.button.send' | translate}}"
                      nzTooltipPlacement="top"
                      nz-tooltip
                      (click)="generateTicket(item.id)"
                      [disable]="item.status != 'WAIT_GEN_TICKET'"
                    >
                    </app-button-action>

                    <app-button-action
                      [action]="'cancel'"
                      className="last"
                      nzTooltipTitle="{{'common.button.cancel' | translate}}"
                      nzTooltipPlacement="top"
                      nz-tooltip
                      (click)="cancel(item.id)"
                      [disable]="item.status != 'WAIT_GEN_TICKET'"
                    >
                    </app-button-action>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </nz-table>
          <app-pagination
          [pageIndex]="searchRequest.pageIndex"
          [pageSize]="searchRequest.pageSize"
          [total]="total"
          (onChange)="onQuerySearch($event)"
        ></app-pagination>
        </div>
      </div>
    </ng-container>
  </div>
