
.zoom {
    // background-image: url("../../../../assets/1.jpg");
    overflow: auto;
}

.zoom .display {
    height: 200px;
}

.zoom .row-chair{
  display: flex;
}
.zoom .seat {
    width: 45px;
    height: 30px;
    display: inline-block;
    margin: 5px 0px ;
    border-radius: 50%;
}

.zoom .vip-seat {
    width: 45px;
    height: 30px;
    display: inline-block;
    margin: 5px 0px ;
    border-radius: 50% 50% 10% 10%;
    border: red 1px solid;
}


.zoom .sweet-seat{
    width: 70px;
    height: 30px;
    display: inline-block;
    margin: 5px 0px ;
    border-radius: 50% 50% 10% 10%;
    border: red 1px solid;
}

.zoom .row-chair{
    width: fit-content;
    display: inline-flex;
}

.zoom .available{
    background-color: #EEEEEE;
}

.zoom .holded{
    background-color: red;
}

.zoom .your-select{
    background-color: #32CD32;
}

.zoom .sold{
    background-color:  #777777;
}

button {
    cursor: pointer;
}
