<div class="content">
  <div class="title-page" *nzModalTitle="">
      <span>
         Đặt vé
      </span>
  </div>
</div>
<div class="container">
    <div class="zoom">
      <!-- <div class="display">
        <button  class="seat AVAILABLE"></button>
      </div> -->
      <ng-container *ngFor="let row of detail.rows">
        <div class="d-flex justify-content-center">
          <ng-container
          *ngFor="let item of row.tickets; let i = index"
        >
          <button
            [class.seat]="item.type=='NORMAL'"
            [class.vip-seat]="item.type=='VIP'"
            [class.sweet-seat]="item.type=='SWEET'"
            [class.available]="item.status=='AVAILABLE'"
            [class.solded]="item.status=='SOLDED'"
            [class.your_select]="item.status=='YOUR_SELECT'"
            [class.holded]="item.status=='HOLDED'"
            (click)="change(item)"
          >A1</button>
        </ng-container>
        </div>
      </ng-container>

    </div>
    <div class="row">
      <div class="col-12 text-center" *nzModalFooter>
              <button nz-button nzType="default">
                  Hủy
              </button>
              <button nz-button nzType="primary" class="mr-2">
                  Đặt vé
              </button>
      </div>
  </div>
  </div>
