<div class="title mb-3">
  <app-table-title
    [title]="'model.user.updateProfile'"
  ></app-table-title>
</div>
<section class="content" [formGroup]="form">
  <div class="row">
    <div class="col-7">
      <div class="row">
        <div class="col-12">
          <app-upload-avatar
            [action]="imageUrl ? imageUrl : null"
            [acceptTypeFiles]="['image']"
            className="image"
            nzTooltipPlacement="top"
            (emitter)="getFiles($event)"
            nz-tooltip
          >
          </app-upload-avatar>
        </div>
        <div class="col-12 mt-5">
          <label>{{'model.user.role' | translate}}</label>
      <br>
      <nz-select
        nzMode="multiple"
        nzShowSearch
        [nzShowArrow]="true"
        nzAllowClear
        nzPlaceHolder="Vai trò"
        formControlName="roleIds"
        nzSize="large"
        style="width: 80%"
      >
      <ng-container *ngFor="let item of roles">
        <nz-option
        nzValue="{{ item.id }}"
        nzLabel="{{ item.name | limitWord:30 }}"
      ></nz-option>
      </ng-container>
      </nz-select>
        </div>
        <div class="col-12 mt-2">
          <label>{{'model.user.location' | translate}}</label>
      <br>
      <nz-select
        nzMode="multiple"
        nzShowSearch
        [nzShowArrow]="true"
        nzAllowClear
        nzPlaceHolder="{{'model.user.location' | translate}}"
        formControlName="locationIds"
        nzSize="large"
        style="width: 80%"
      >
      <ng-container *ngFor="let item of locationList">
        <nz-option
        nzValue="{{ item.id }}"
        nzLabel="{{ item.name | limitWord:30 }}"
      ></nz-option>
      </ng-container>
      </nz-select>
        </div>
        <div class="col-12 mt-2">
          <label>{{'model.user.department' | translate}} <span class="text-danger">*</span></label>
        <input nz-input placeholder="{{'model.user.department' | translate}}" formControlName="departmentName" />
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="col-12 mt-2">
        <label>{{'model.user.employeeCode' | translate}}<span class="text-danger">*</span></label>
        <input nz-input placeholder="{{'model.user.employeeCode' | translate}}" formControlName="employeeCode" />
      </div>
      <div class="col-12 mt-2">
        <label>{{'model.user.fullName' | translate}} <span class="text-danger">*</span></label>
        <input nz-input placeholder="{{'model.user.fullName' | translate}}" formControlName="fullName" />
      </div>
      <div class="col-12 mt-2">
        <label>{{'model.user.phoneNumber' | translate}} <span class="text-danger">*</span></label>
        <input nz-input placeholder="{{'model.user.phoneNumber' | translate}}" formControlName="phoneNumber" />
      </div>

      <div class="col-12 mt-2">
        <label>{{'model.user.email' | translate}} <span class="text-danger">*</span></label>
        <input nz-input placeholder="{{'model.user.email' | translate}}" formControlName="email" />
      </div>

      <div class="col-12 mt-2">
        <label>{{'model.user.dayOfBirth' | translate}}<span class="text-danger">*</span></label>
        <br>
        <nz-date-picker
        [nzFormat]="'dd-MM-YYYY'"
        formControlName="dayOfBirth"
      ></nz-date-picker>
      </div>
      <div class="col-12 mt-2">
        <label>{{'model.user.gender' | translate}}<span class="text-danger">*</span></label>
        <br>
        <nz-select
        nzShowSearch
        [nzShowArrow]="true"
        nzAllowClear
        nzPlaceHolder="{{'model.user.gender' | translate}}"
        formControlName="gender"
      >
      <nz-option
      *ngFor="let item of genders"
      [nzLabel]="item.label"
      [nzValue]="item.value"
    ></nz-option>
      </nz-select>
      </div>
      <div class="col-12 mt-2">
        <label>{{'model.user.address' | translate}}<span class="text-danger">*</span></label>
        <input nz-input placeholder="{{'model.user.address' | translate}}" />
      </div>
      <div class="col-12 mt-2">
        <label>{{'model.user.username' | translate}} <span class="text-danger">*</span></label>
        <input nz-input placeholder="{{'model.user.username' | translate}}" formControlName="username" />
      </div>
      <div class="col-12 mt-2">
        <label>{{'model.user.title' | translate}}<span class="text-danger">*</span></label>
      <input nz-input placeholder="{{'model.user.title' | translate}}" formControlName="title" />
      </div>
    </div>

  </div>
  <div class="row mt-2">
    <label>{{'model.user.description' | translate}}<span class="text-danger">*</span></label>
    <nz-textarea-count [nzMaxCharacterCount]="1000">
      <textarea
        rows="3"
        nz-input
        formControlName="description"
      ></textarea>
    </nz-textarea-count>
  </div>
  <div class="row mt-3">
      <div class="col-12 d-flex justify-content-center">
      <button nz-button nzType="primary" (click)="submit()">
        {{'common.button.save' | translate}}
      </button>
      </div>
  </div>
</section>
