<div class="title mb-3">
  <app-table-title
    [showBack]="true"
    [title]="isUpdate ? 'model.room.update' : isCreate ? 'model.room.create' : 'model.room.view'"
    [secondTitle]="{ title: 'model.room.list', url: '' }"
  ></app-table-title>
</div>
<div class="content d-flex flex-wrap" [formGroup]="form">
  <div class="col-6 mt-2 mb-2">
    <label
      >{{'model.room.code' | translate}}
      <span class="text-danger">*</span>
    </label>
    <br />
    <input
      nz-input="nz-input"
      [maxLength]="100"
      placeholder="{{'model.room.code' | translate}}"
      style="width: 60%"
      formControlName="code"
    />
  </div>

  <div class="col-6 mt-2 mb-2">
    <label
      >{{'model.room.name' | translate}}
      <span class="text-danger">*</span>
    </label>
    <br />
    <input
      nz-input="nz-input"
      [maxLength]="100"
      placeholder="{{'model.room.code' | translate}}"
      style="width: 60%"
      formControlName="name"
    />
  </div>

  <div class="col-6 mt-2 mb-2">
    <label
      >{{'model.room.maxRow' | translate}}
      <span class="text-danger">*</span>
    </label>
    <br />
    <nz-input-number
      formControlName="maxRow"
      [nzMin]="1"
      [nzMax]="10"
      [nzStep]="1"
      style="width: 60%"
    ></nz-input-number>
  </div>
  <div class="col-6 mt-2 mb-2">
    <label
      >{{'model.room.seatNumber' | translate}}
      <span class="text-danger">*</span>
    </label>
    <br />

    <nz-input-number
      formControlName="maxChairPerRow"
      [nzMin]="1"
      [nzMax]="10"
      [nzStep]="1"
      style="width: 60%"
    ></nz-input-number>
    <!-- <div class="col-6 mt-2 mb-2">
    <label
      >Lối đi
      <span class="text-danger">*</span>
    </label>
    <br />
    <input
      nz-input="nz-input"
      [maxLength]="100"
      placeholder="Lối đi"
      style="width: 60%"
    />
  </div> -->
  </div>
  <div class="col-6 mt-2 mb-2 d-flex">
    <label
      >{{'model.room.location' | translate}}
      <span class="text-danger">*</span>
    </label>
    <nz-select
      [nzMaxTagCount]="2"
      nzPlaceHolder="{{'model.room.location' | translate}}"
      style="width: 20%; margin-left: 10px"
      [nzShowArrow]="true"
      (nzOnSearch)="loadLocation($event)"
      formControlName="locationId"
    >
      <nz-option
        *ngFor="let item of locationList"
        [nzLabel]="item.name"
        [nzValue]="item.id"
      ></nz-option>
    </nz-select>
  </div>
  <div class="col-12 mt-2 mb-2">
    <label>{{'common.description' | translate}}</label>
    <br />
    <nz-textarea-count [nzMaxCharacterCount]="100">
      <textarea rows="4" formControlName="description" nz-input></textarea>
    </nz-textarea-count>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button nz-button nzType="default">{{'common.button.cancel' | translate}}</button>
      <ng-container *ngIf="isUpdate">
        <button
        nz-button
        nzType="primary"
        class="mr-2"
        (click)="openRoomSetting()"
      >
      {{'common.button.seatSetting' | translate}}
      </button>
      </ng-container>
      <button nz-button nzType="primary" class="mr-2" (click)="submit()">{{'common.button.save' | translate}}</button>
    </div>
  </div>
</div>
