<div class="content d-flex flex-wrap">
    <div class="col-4 mt-2 mb-2">
        <label>Mã phòng
            <span class="text-danger">*</span>
        </label>
        <br>
        <input formControlName="code" nz-input="nz-input" [maxLength]="100" placeholder="'Mã phòng'" style="width: 60%;"/>
    </div>

    <div class="col-4  mt-2 mb-2">
        <label>Tên phòng
            <span class="text-danger">*</span>
        </label>
        <br>
        <input formControlName="code" nz-input="nz-input" [maxLength]="100" placeholder="'Tên phòng'" style="width: 60%;"/>
    </div>
    <div class="col-4  mt-2 mb-2">
        <label>Chi nhánh
            <span class="text-danger">*</span>
        </label>
        <br>
        <input formControlName="code" nz-input="nz-input" [maxLength]="100" placeholder="'Tên phòng'" style="width: 60%;"/>
    </div>

    <div class="col-4  mt-2 mb-2">
        <label>Số hàng ghế tối đa
            <span class="text-danger">*</span>
        </label>
        <br>
        <input formControlName="code" nz-input="nz-input" [maxLength]="100" placeholder="Số hàng ghế tối đa" style="width: 60%;"/>
    </div>
    <div class="col-4  mt-2 mb-2">
        <label>Số ghế tối đa mỗi hàng
            <span class="text-danger">*</span>
        </label>
        <br>
        <input formControlName="code" nz-input="nz-input" [maxLength]="100" placeholder="Số ghế tối đa mỗi hàng" style="width: 60%;"/>
    </div>
    <div class="col-4  mt-2 mb-2">
        <label>Lối đi
            <span class="text-danger">*</span>
        </label>
        <br>
        <input formControlName="code" nz-input="nz-input" [maxLength]="100" placeholder="Lối đi" style="width: 60%;"/>
    </div>
    <div class="col-12  mt-2 mb-2">
        <label>Mô tả
        </label>
        <br>
        <input formControlName="code" nz-input="nz-input" [maxLength]="100" placeholder="Chiều dài" style="width: 60%;"/>
    </div>

    <div class="col-12">
            <button>Hủy</button> 
            <button>Thiết lập ghế ngồi</button> 
            <button>Thêm mới</button>
    </div>
</div>
