
 <h1>Ngày thường</h1>
 <nz-collapse>
    <nz-collapse-panel
      *ngFor="let panel of panels"
      [nzHeader]="panel.name"
      [nzActive]="panel.active"
      [nzDisabled]="panel.disabled"
    >
    <div class="d-flex flex-wrap">
       
      <div class="col-6">
        <nz-time-picker
        nzFormat="HH:mm"
        style="width: 15%"
        nzBorderless
      >
      </nz-time-picker>
      <span>-</span>
      <nz-time-picker
        nzFormat="HH:mm"
        style="width: 15%"
        nzBorderless
      ></nz-time-picker>

      <input nz-input placeholder="Basic usage" value="1000000" style="width: 100px; margin-left: 10px;"/>
      <span>VND</span>
      <span nz-icon nzType="delete" nzTheme="outline" style="margin-left: 7px; color: red;"></span>
    </div>
    <div class="col-6">
      <nz-time-picker
      nzFormat="HH:mm"
      style="width: 15%"
      nzBorderless
    >
    </nz-time-picker>
    <span>-</span>
    <nz-time-picker
      nzFormat="HH:mm"
      style="width: 15%"
      nzBorderless
    ></nz-time-picker>

    <input nz-input placeholder="Basic usage" value="1000000" style="width: 100px; margin: 10px;"/>
    <span>VND</span>
  </div>
  <div class="col-6">
    <nz-time-picker
    nzFormat="HH:mm"
    style="width: 15%"
    nzBorderless
  >
  </nz-time-picker>
  <span>-</span>
  <nz-time-picker
    nzFormat="HH:mm"
    style="width: 15%"
    nzBorderless
  ></nz-time-picker>

  <input nz-input placeholder="Basic usage" value="1000000" style="width: 100px; margin-left: 10px;"/>
  <span>VND</span>
</div>
<div class="col-6">
  <nz-time-picker
  nzFormat="HH:mm"
  style="width: 15%"
  nzBorderless
>
</nz-time-picker>
<span>-</span>
<nz-time-picker
  nzFormat="HH:mm"
  style="width: 15%"
  nzBorderless
></nz-time-picker>

<input nz-input placeholder="Basic usage" value="1000000" style="width: 100px; margin-left: 10px;"/>
<span>VND</span>
</div>

<div>
  <button style="width: 70%; padding:0px 100px 10px 90px; margin-top: 5px;">
    <span nz-icon nzType="plus" nzTheme="outline"></span>
  </button>
</div>
        
    </div>
    </nz-collapse-panel>
  </nz-collapse>

  <h1>Ngày đặc biệt</h1>
  