<div class="content">
  <div class="row mb-4">
    <div class="col-4">
      <app-table-title
        title="{{ 'model.ticketPrice.title' | translate }}"
      ></app-table-title>
    </div>
    <div class="col-8">
      <label style="margin-right: 10px">{{
        "model.ticketPrice.location" | translate
      }}</label>
      <nz-select
        [(ngModel)]="locationId"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="{{'model.tricketPrice.location' | translate}}"
        style="width: 200px"
        (ngModelChange)="changeLocation()"
      >
        <ng-container *ngFor="let location of locationList">
          <nz-option
            [nzLabel]="location.name"
            [nzValue]="location.id"
          ></nz-option>
        </ng-container>
      </nz-select>
    </div>
  </div>
</div>
<form [formGroup]="form">
  <div formArrayName="configPrices">
    <nz-collapse>
      <nz-collapse-panel
        *ngFor="let panel of form.get('configPrices')['controls']; index as i"
        [nzHeader]="getDayName(panel.get('dayOfWeek').value)"
        [nzActive]="panel.active"
      >
        <div [formGroupName]="i">
          <div class="d-flex flex-wrap" formArrayName="priceByTimes">
            <div>{{ panel.get("startAt") }}</div>
            <ng-container
              *ngFor="
                let configPrice of panel.get('priceByTimes')['controls'];
                index as configPriceIndex
              "
            >
              <div class="col-6 mt-5" [formGroupName]="configPriceIndex">
                <div class="row">
                  <div class="col-3 d-flex align-items-center">
                    <div>{{ printTime(configPrice.value) }}</div>
                    <app-button-action
                    [action]="'delete'"
                    className="center"
                    nzTooltipTitle="{{'common.button.delete' | translate}}"
                    nzTooltipPlacement="top"
                    nz-tooltip
                    (click)="deletePriceByTime(panel, configPriceIndex)"
                  >
                    </app-button-action
                  >
                  </div>
                  <div class="col-9" formArrayName="prices">
                    <ng-container
                      *ngFor="
                        let item of configPrice.get('prices')['controls'];
                        index as priceIndex
                      "
                    >
                      <div class="row mb-2" [formGroupName]="priceIndex">
                        <div class="col-3">
                          <span>{{ ticketLabel[priceIndex].label }}</span>
                        </div>
                        <div class="col-9">
                          <nz-input-number
                            [nzMin]="1000"
                            [nzMax]="10000000"
                            [nzStep]="1000"
                            formControlName="price"
                          >
                          </nz-input-number>
                          <span>VND</span>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-container>
            <div>
              <button
                nz-button
                nzType="primary"
                (click)="showModal(panel.get('priceByTimes'))"
              >
                {{ "common.button.create" | translate }}
              </button>
            </div>
          </div>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
    <button nz-button nzType="primary" class="mr-2" (click)="update()">
      {{ "common.button.save" | translate }}
    </button>
  </div>
</form>
