<div class="title mb-3">
  <app-table-title [showBack]="true" [title]="'Cập nhật'" [secondTitle]="{title: 'Cập nhật', url: ''}"></app-table-title>
</div>

<section class="content">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-6 mb-5 pl-5">
            <div class="row mb-4">
              <div class="col-12">
                <app-upload-image [disable]="!isDetail" [action]="imageUrl ? imageUrl : null" [acceptTypeFiles]="['image']" className="image"
                nzTooltipPlacement="top" (emitter)="getFiles($event)" nz-tooltip>
              </app-upload-image>
              </div>
            </div>
          </div>
          <div class="col-6 mb-5 pl-5">
            <div class="row">
              <div class="col-12 mb-3">
               <div class="row">
                <div class="col-6">
                  <label>Mã phim <span class="text-danger">*</span></label>
                  <input
                      nz-input
                      [maxLength]="LENGTH_VALIDATOR.CODE_MAX_LENGTH.MAX"
                      placeholder="'Nhập mã phim'"
                  >
                </div>
                <div class="col-6 ml-2">
                  <label>Tên bộ phim <span class="text-danger">*</span></label>
                  <input
                      nz-input
                      [maxLength]="LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX"
                      placeholder="'Nhập tên bộ phim'"
                  >
                </div>
               </div>
              </div>
              <div class="col-12 mb-3">
                <div class="row">
                  <div class="col-6">
                    <label>Giới hạn tuổi(từ) <span class="text-danger">*</span></label>
                    <input
                        nz-input
                        placeholder="'Nhập độ tuổi giới hạn'"
                    >
                  </div>
                  <div class="col-6 ml-2">
                    <label>Trạng thái bộ phim <span class="text-danger">*</span></label>
                    <input
                        nz-input
                        placeholder="Trạng thái bộ phim"
                    >
                  </div>
                 </div>
              </div>
              <div class="col-12 mb-3">
                <div class="row">
                  <div class="col-6">
                    <label>Ngày sở hữu <span class="text-danger">*</span></label>
                    <nz-date-picker [nzFormat]="'dd/MM/YYYY'" [nzSize]="'large'"></nz-date-picker>
                  </div>
                  <div class="col-6 ml-2">
                    <label>Ngày công chiếu <span class="text-danger">*</span></label>
                    <nz-date-picker [nzFormat]="'dd/MM/YYYY'" [nzSize]="'large'"></nz-date-picker>
                  </div>
                 </div>
              </div>
              <div class="col-12 mb-3">
                <div class="row">
                  <div class="col-6">
                    <div class="d-flex">
                      <label style="margin-right: 20px;">Thời lượng phim <span class="text-danger">*</span></label>
                      <nz-input-number [nzMin]="1" [nzMax]="1000" [nzStep]="1"></nz-input-number>
                    </div>
                  </div>
                  <div class="col-6 ml-2">
                    <label style="margin-right: 20px;">Nhà sản xuất<span class="text-danger">*</span></label>
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select OS">
                    </nz-select>
                  </div>
                 </div>
              </div>
              <div class="col-12 mb-3">
                <label>Thể loại phim <span class="text-danger">*</span></label>
                <div>
                  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select OS" style="width: 100%;">
                  </nz-select>
                </div>
              </div>
              <div class="col-12 mb-3">
                <label>Tóm tắt <span class="text-danger">*</span></label>
                <nz-textarea-count [nzMaxCharacterCount]="100">
                  <textarea rows="10"  nz-input></textarea>
                </nz-textarea-count>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
