<div class="title mb-3">
  <app-table-title
    [showBack]="true"
    [title]="isUpdate ? 'model.film.update' : isCreate ? 'model.film.create' : 'model.film.view'"
    [secondTitle]="{ title: 'model.film.list', url: '' }"
  ></app-table-title>
</div>

<section class="content">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-6 mb-5 pl-5">
            <div class="row mb-4">
              <div class="col-12">
                <app-upload-image
                  [disable]="isDetail"
                  [action]="imageUrl ? imageUrl : null"
                  [acceptTypeFiles]="['image']"
                  className="image"
                  nzTooltipPlacement="top"
                  (emitter)="getFiles($event)"
                  nz-tooltip
                >
                </app-upload-image>
              </div>
            </div>
          </div>
          <div class="col-6 mb-5 pl-5">
            <div class="row">
              <div class="col-12 mb-3">
                <div class="row">
                  <div class="col-6">
                    <div class="row">
                      <div class="col-3">
                        <label
                          >{{'model.film.code' | translate}} <span class="text-danger">*</span></label
                        >
                      </div>
                      <div class="col-9">
                        <input
                          nz-input
                          [maxLength]="LENGTH_VALIDATOR.CODE_MAX_LENGTH.MAX"
                          placeholder="{{'model.film.code' | translate}}"
                          formControlName="code"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-6 ml-2">
                    <div class="row">
                      <div class="col-3">
                        <label
                          >{{'model.film.name' | translate}} <span class="text-danger">*</span></label
                        >
                      </div>
                      <div class="col-9">
                        <input
                          nz-input
                          [maxLength]="LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX"
                          placeholder="{{'model.film.name'}}"
                          formControlName="name"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-3">
                <div class="row">
                  <div class="col-6">
                    <div class="row">
                      <div class="col-3">
                        <label
                          > {{'model.film.director' | translate}}<span class="text-danger">*</span></label
                        >
                      </div>
                      <div class="col-9">
                        <input
                          nz-input
                          [maxLength]="LENGTH_VALIDATOR.CODE_MAX_LENGTH.MAX"
                          placeholder="{{'model.film.director' | translate}}"
                          formControlName="directors"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-6 ml-2">
                    <div class="row">
                      <div class="col-3">
                        <label
                          >{{'model.film.actor' | translate}}<span class="text-danger">*</span></label
                        >
                      </div>
                      <div class="col-9">
                        <input
                          nz-input
                          placeholder="{{'model.film.actor' | translate}}"
                          formControlName="actors"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-3">
                <div class="row">
                  <div class="col-6 ml-2">
                    <div class="row">
                      <div class="col-3">
                        <label
                          >{{'model.film.producer' | translate}}<span class="text-danger">*</span></label
                        >
                      </div>
                      <div class="col-9">
                        <nz-select
                          nzMode="multiple"
                          nzShowSearch
                          nzAllowClear
                          nzPlaceHolder="{{'model.film.producer' | translate}}"
                          formControlName="producerIds"
                          nzSize="large"
                          style="width: 80%"
                        >
                        <ng-container *ngFor="let producer of producerList">
                          <nz-option
                          nzValue="{{ producer.id }}"
                          nzLabel="{{ producer.name | limitWord:30 }}"
                        ></nz-option>
                        </ng-container>
                        </nz-select>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 ml-2">
                    <div class="row">
                      <div class="col-3">
                        <label
                          >{{'common.status' | translate}}<span class="text-danger">*</span></label
                        >
                      </div>
                      <div class="col-9">
                        <nz-select
                          nzShowSearch
                          nzAllowClear
                          nzPlaceHolder="{{'common.status' | translate}}"
                          formControlName="status"
                          style="width: 80%"
                          [nzSize]="'large'"
                        >
                          <ng-container *ngFor="let status of FILM_STATUS_LIST">
                            <nz-option
                              nzValue="{{ status.value }}"
                              nzLabel="{{ status.label| limitWord:30 }}"
                            ></nz-option>
                          </ng-container>
                        </nz-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-3">
                <div class="row">
                  <div class="col-6">
                    <div class="row">
                      <div class="col-3">
                        <label
                          >{{'model.film.ownershipDate' | translate}}<span class="text-danger">*</span></label
                        >
                      </div>
                      <div class="col-9">
                        <nz-date-picker
                          [nzFormat]="'dd/MM/YYYY'"
                          [nzSize]="'large'"
                          formControlName="ownershipDate"
                        ></nz-date-picker>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 ml-2">
                    <div class="row">
                      <div class="col-3">
                        <label
                          >{{'model.film.releaseDate' | translate}}<span class="text-danger">*</span></label
                        >
                      </div>
                      <div class="col-9">
                        <nz-date-picker
                          [nzFormat]="'dd/MM/YYYY'"
                          [nzSize]="'large'"
                          formControlName="releaseDate"
                        ></nz-date-picker>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-3">
                <div class="row">
                  <div class="col-6">
                    <div class="row">
                      <div class="col-3">
                        <label style="margin-right: 20px"
                          >{{'model.film.duration' | translate}}<span class="text-danger">*</span></label
                        >
                      </div>
                      <div class="col-9">
                        <nz-input-number
                          [nzMin]="1"
                          [nzMax]="1000"
                          [nzStep]="1"
                          formControlName="duration"
                        ></nz-input-number>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <div class="col-3">
                        <label
                          >{{'model.film.allowedAgeFrom' | translate}}<span class="text-danger">*</span></label
                        >
                      </div>
                      <div class="col-9">
                        <nz-input-number
                          [nzMin]="1"
                          [nzMax]="100"
                          [nzStep]="1"
                          formControlName="allowedAgeFrom"
                          nzPlaceHolder="{{'model.film.allowedAgeFrom' | translate}}"
                        >
                        </nz-input-number>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 mb-3">
                <label>{{'model.film.typeOfFilm' | translate}}<span class="text-danger">*</span></label>
                <div>
                  <nz-select
                    nzMode="multiple"
                    nzShowSearch
                    nzAllowClear
                    nzPlaceHolder="{{'model.film.typeOfFilm' | translate}}"
                    style="width: 100%"
                    formControlName="filmTypeIds"
                    [nzMaxTagCount]="3"
                    size="large"
                  >
                  <ng-container *ngFor="let type of typeOfFilmList">
                    <nz-option
                              nzValue="{{ type.id }}"
                              nzLabel="{{ type.name }}"
                            ></nz-option>
                  </ng-container>
                  </nz-select>
                </div>
              </div>
              <div class="col-12 mb-3">
                <label>{{'common.description' | translate}}<span class="text-danger">*</span></label>
                <nz-textarea-count [nzMaxCharacterCount]="1000">
                  <textarea
                    rows="10"
                    nz-input
                    formControlName="description"
                  ></textarea>
                </nz-textarea-count>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <ng-container *ngIf="isDetail">
                <button nz-button nzType="default" (click)="onCancel()">
                  {{'common.button.cancel' | translate}}
                </button>
                <button
                  nz-button
                  nzType="primary"
                  class="mr-2"
                  (click)="nextToUpdate()"
                >
                {{'common.button.edit' | translate}}
                </button>
              </ng-container>
              <ng-container *ngIf="!isDetail">
                <button
                  nz-button
                  nzType="default"
                  class="mr-2"
                  (click)="onCancel()"
                >
                {{'common.button.cancel' | translate}}
                </button>
                <button
                  nz-button
                  nzType="primary"
                  class="mr-2"
                  (click)="onSubmit()"
                >
                {{'common.button.save' | translate}}
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
