<div class="content">
  <div class="title-page" *nzModalTitle="">
    <span>
      {{
        (isCreate
          ? 'model.role.create'
          : isUpdate
          ? 'model.role.update'
          : 'model.role.view')
          | translate
      }}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-6 mb-2">
          <label>{{'model.role.code' | translate}} <span class="text-danger">*</span></label>
          <input
            formControlName="code"
            nz-input
            placeholder="{{'model.role.code' | translate}}"
          />
        </div>
        <div class="col-6 mb-2">
          <label>{{'model.role.name' | translate}} <span class="text-danger">*</span></label>
          <input
            formControlName="name"
            nz-input
            placeholder="{{'model.role.name' | translate}}"
          />
        </div>
        <div class="col-12 mb-2">
          <label style="margin-right: 20px">{{'model.role.admin' | translate}}</label>
          <nz-switch formControlName="isRoot"></nz-switch>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mb-2">
          <label>{{'common.description' | translate}}</label>
          <textarea
            rows="4"
            placeholder="Nhập mô tả"
            formControlName="description"
            nz-input
          ></textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-12 text-center" *nzModalFooter>
      <ng-container *ngIf="isDetail">
        <button nz-button nzType="default" (click)="onCancel()">{{'common.button.cancel' | translate}}</button>
        <button
          nz-button
          nzType="primary"
          class="mr-2"
          (click)="nextToUpdate()"
        >
        {{'common.button.edit' | translate}}
        </button>
      </ng-container>
      <ng-container *ngIf="!isDetail">
        <button nz-button nzType="default" class="mr-2" (click)="onCancel()">
        {{'common.button.cancel' | translate}}
        </button>
        <button
          nz-button
          nzType="primary"
          class="mr-2"
          (click)="onSubmit()"
          [disabled]="form.invalid"
        >
        {{'common.button.save' | translate}}
        </button>
      </ng-container>
    </div>
  </div>
</div>
