<app-table-title
title="{{ 'model.showtime.list' | translate}}"
></app-table-title>
<div class="content">
    <div class="row">
        <div class="col-2">
            <div class="text-center text-justify mt-2 mb-2" style="font-weight: bolder;" >
                {{getDay(dateSelected)}},<br> {{getDate(dateSelected)}}
                </div>
        </div>
        <ng-container *ngFor="let day of daysArr">
            <div class="calendar-days m-1 p-2 text-center" (click)="changeSeletedDate(day)"
            [class.today]="day.isSeleted"
            >
                {{ day.date?.getDate() +"/" + getMonth(day)}}
                <br><div class="text">{{pareseDay(day)}}</div>
              </div>
        </ng-container>
    </div>
</div>

<div class="content d-flex flex-wrap">
  <ng-container *ngFor="let item of showtimeList">
     <div class="col-6 mt-5">
        <div class="film-header" style="width: 98%;">
            <div class="title">
               {{item.film.name | limitWord: 30}}
            </div>
            <div class="type">
              Thieu the loai
            </div>
        </div>
       <div class="row">
        <div class="col-4">
            <div class="avatar">
                <img [src]="item?.film?.filePath" alt="">
            </div>
        </div>
        <div class="col-8" style="height: 273px; overflow-y: auto;">
            <div class="show-time">
                <div class="info">
                 <div class="title">
                     {{'model.showtime.director' | translate}}: &nbsp;
                 </div>
                 <div class="content">
                     {{item.film.directors}}
                 </div>
                </div>
                <div class="info">
                  <div class="title">
                    {{'model.showtime.actor' | translate}}: &nbsp;
                  </div>
                  <div class="content">
                    {{item.film.actors | limitWord: 30}}
                  </div>
                </div>
                <div class="info">
                 <div class="title">
                    {{'model.showtime.premiereDate' | translate}}: &nbsp;
                 </div>
                 <div class="content">
                     {{item.premiereDate}}
                 </div>
                </div>
                <div class="info">
                 <div class="title">
                    {{'model.showtime.duration' | translate}}: &nbsp;
                 </div>
                 <div class="content">
                     {{item.film.duration}} {{'model.showtime.minute' | translate}}
                 </div>
                </div>
                <div class="info">
                 <div class="title">
                     {{'model.showtime.rated' | translate}}: &nbsp;
                 </div>
                 <div class="content">
                    {{'model.showtime.preRated' | translate}} {{item.film.allowedAgeFrom}} {{'model.showtime.postRated' | translate}}
                 </div>
                </div>

                <div class="schedule">
                  <ng-container *ngFor="let detail of item.details">
                  <button (click)="booking(detail)" >{{printTime(detail)}}</button>
                </ng-container>
                </div>
             </div>
       </div>

        </div>
    </div>
  </ng-container>
</div>
