<div class="content">
    <div class="row">
        <div class="col-2">
            <div class="text-center text-justify mt-2 mb-2" style="font-weight: bolder;" >
                {{getDay(dateSelected)}},<br> {{getDate(dateSelected)}}
                </div>
        </div>
        <ng-container *ngFor="let day of daysArr">
            <div class="calendar-days m-1 p-2 text-center" (click)="changeSeletedDate(day)" 
            [class.today]="day.isSeleted"
            >
                {{ day.date?.getDate() +"/" + getMonth(day)}} 
                <br><div class="text">{{pareseDay(day)}}</div>
              </div>
              
        </ng-container>
    </div>
</div>

<div class="content d-flex flex-wrap">
  
     <div class="col-5 offset-1 mt-5">
        <div class="film-header">
            <div class="title">
                Avatar 1
            </div>
            <div class="type">
                Viễn tưởng, tình cảm
            </div>
        </div>
       <div class="row">
        <div class="col-4">
            <div class="avatar">
                <img src="../../../../assets/avatar1.jpg" alt="">
            </div>
        </div>
        <div class="col-8">
            <div class="show-time">
                <div class="info">
                 <div class="title">
                     Đạo diễn: &nbsp;
                 </div>
                 <div class="content">
                     Đông Đông
                 </div>
                </div>
                <div class="info">
                 <div class="title">
                     Khởi chiếu: &nbsp;
                 </div>
                 <div class="content">
                     20-10-2022
                 </div>
                </div>
                <div class="info">
                 <div class="title">
                     Thời lượng: &nbsp;
                 </div>
                 <div class="content">
                     165 phút
                 </div>
                </div>
                <div class="info">
                 <div class="title">
                     Rated: &nbsp;
                 </div>
                 <div class="content">
                     C13: Phim Cấm khán giả dưới 13 tuổi
                 </div>
                </div>
 
                <div class="schedule">
                 <button nz-button nzType="default" (click)="openBookingComponent()">17:00</button>
                 <button nz-button nzType="default" (click)="openBookingComponent()">18:00</button>
                 <button nz-button nzType="default" (click)="openBookingComponent()">19:00</button>
                 <button nz-button nzType="default" (click)="openBookingComponent()">20:00</button>
                 <button nz-button nzType="default" (click)="openBookingComponent()">20:00</button>
                 <button nz-button nzType="default" (click)="openBookingComponent()">20:00</button>
                 <button nz-button nzType="default" (click)="openBookingComponent()">20:00</button>
                 <button nz-button nzType="default" (click)="openBookingComponent()">20:00</button>
                 <button nz-button nzType="default" (click)="openBookingComponent()">20:00</button>
                 <button nz-button nzType="default" (click)="openBookingComponent()">20:00</button>
                </div>
             </div>
       </div>
            
        </div>
    </div>
    <div class="col-5 offset-1 mt-5">
        <div class="film-header">
            <div class="title">
                Avatar 1
            </div>
            <div class="type">
                Viễn tưởng, tình cảm
            </div>
        </div>
       <div class="row">
        <div class="col-4">
            <div class="avatar">
                <img src="../../../../assets/avatar1.jpg" alt="">
            </div>
        </div>
        <div class="col-8">
       </div>
            <div class="show-time">
                <div class="time">

                </div>
            </div>
        </div>
    </div>
    <div class="col-5 offset-1 mt-5">
        <div class="film-header">
            <div class="title">
                Avatar 1
            </div>
            <div class="type">
                Viễn tưởng, tình cảm
            </div>
        </div>
       <div class="row">
        <div class="col-4">
            <div class="avatar">
                <img src="../../../../assets/avatar1.jpg" alt="">
            </div>
        </div>
        <div class="col-8">
       </div>
            <div class="show-time">
                <div class="time">

                </div>
            </div>
        </div>
    </div>
</div>