.appBackground {
    position: relative;
    background-image: url("../../../../assets/1.jpg");
    background-repeat:no-repeat;
    background-size:100% 100vh;
}
.zoom {
    // overflow: auto;
    // transform: scale(1.8);
}

.zoom .display {
    height: 100px;
}

.zoom .row-chair{
    display: block;
}

.zoom .left-way{
    margin-left: 100px;
}

.zoom .right-way{
    margin-right: 100px;
}

.zoom .seat {
    width: 40px;
    height: 30px;
    display: inline-block;
    margin: 5px 0px ;
    border-radius: 50%;
}

.zoom .vip-seat {
    width: 40px;
    height: 30px;
    display: inline-block;
    margin: 5px 0px ;
    border-radius: 50% 50% 10% 10%;

}


.zoom .sweet-seat{
    width: 70px;
    height: 30px;
    display: inline-block;
    margin: 5px 0px ;
    border-radius: 50% 50% 10% 10%;
}

.zoom .row-chair{
    width: fit-content;
    display: inline-flex;
}

.zoom .available{
    background-color: #D3D3D3;
}

.zoom .holded{
    background-color: #00FF00;
}

.zoom .your-select{
    background-color: #32CD32;
}

.zoom .solded{
    background-color: #FF0000;
}

.btn-room {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-room .btn-detail{
    margin-left: 50px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
  }