
<div class="container d-flex justify-content-center">
  <div class="appbackground">
  </div>
  <div class="zoom" [formGroup]="form">
    <div class="display">
      <div class="text-center">màn hình</div>
    </div>
    <div formArrayName="rows">
      <ng-container *ngFor="let row of form.get('rows')['controls']; index as rIndex; index as r">
        <div class="row-chair" [formGroupName]="rIndex">
          <div formArrayName="chairs" class="d-flex">
            <ng-container
          *ngFor="let item of row.get('chairs')['controls']; let cIndex = index"
        >
          <div [formGroupName]="cIndex">
            <select
            formControlName="chairType"
            class="text-center"
            [class.seat]="item.get('chairType').value=='NORMAL'"
            [class.vip-seat]="item.get('chairType').value =='VIP'"
            [class.sweet-seat]="item.get('chairType').value=='SWEET'"
            (change)="show(row, r)"
          >
          <option value="NORMAL">N</option>
          <option value="VIP">V</option>
            <option [disabled]="!this.visibleSweet(row)" value="SWEET">S</option>
            <option value="BOGY">B</option>
        </select>
          </div>
        </ng-container>
          </div>
        </div>
        <br>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center" *nzModalFooter>
            <button nz-button nzType="default" >
                Hủy
            </button>
            <button nz-button nzType="primary" class="mr-2" (click)="showForm()">
                Lưu
            </button>
    </div>
</div>
</div>
<!--
[class.available]="item.status=='AVAILABLE'"
[class.solded]="item.status=='SOLDED'"
[class.your_select]="item.status=='YOUR_SELECT'"
[class.holded]="item.status=='HOLDED'" -->
